# Dependency directories
node_modules/
jspm_packages/

# Build artifacts
dist/
dist-package/
tmp/
out/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs/Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# App configs/keys
.env
.env*.local
*.json.bak
*.key
